DUCKMAIL_API_BASE=https://api.duckmail.sbs
DUCKMAIL_DOMAIN=codex.sbbz.tech
DUCKMAIL_BEARER=

POOL_BASE_URL=https://or.sbbz.tech:52788/
POOL_TOKEN=
POOL_TARGET_TYPE=codex
POOL_TARGET_COUNT=666
POOL_PROXY=
POOL_PROBE_WORKERS=40
POOL_DELETE_WORKERS=10
POOL_INTERVAL_MIN=3

PROXY=
WORKERS=1
PROXY_TEST_WORKERS=20

ENABLE_OAUTH=true
OAUTH_REQUIRED=true
OAUTH_ISSUER=https://auth.openai.com
OAUTH_CLIENT_ID=app_EMoamEEZ73f0CkXaXp7hrann
OAUTH_REDIRECT_URI=http://localhost:1455/auth/callback

AK_FILE=ak.txt
RK_FILE=rk.txt
TOKEN_JSON_DIR=codex_tokens
