QW_API_HOST=
QW_PROJECT_ID=
QW_CREDENTIAL_ID=
QW_PRIVATE_KEY_PATH=./private_key.pem
QW_LOCATION_QUERY=
QW_LANG=zh
QW_UNIT=m

SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_USER=hqlak47@gmail.com
SMTP_PASSWORD=
EMAIL_FROM=hqlak47@gmail.com
EMAIL_TO=ibjxk0@gmail.com
